name: Build Web Bundle

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Cargo Test
        run: cargo test --workspace --locked --all-targets

  build-web:
    name: Build Trunk Bundle
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Install wasm target
        run: rustup target add wasm32-unknown-unknown
      - name: Install Trunk
        run: cargo install trunk --locked
      - name: Clean dist directory
        run: rm -rf dist
      - name: Build web bundle
        working-directory: crates/regviz_app
        run: trunk build --release --dist ../../dist
